version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: dd_mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: dd_db
    volumes:
      - mongodb_data:/data/db
    networks:
      - app_network

  backend:
    build: ./backend
    container_name: crud_app_backend
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      MONGODB_URI: mongodb://mongodb:27017/dd_db
      NODE_ENV: development
    depends_on:
      - mongodb
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: crud_app_frontend
    ports:
      - "8081:8081"
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  mongodb_data:

networks:
  app_network: